<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pipariya</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="profile-pic">
    <img src="assets/icon/pipariya.png">
  </ion-avatar>
  <ion-title class="ion-text-center profile-title">@Pipariya <ion-icon class="checkmark" name="checkmark"></ion-icon> </ion-title>
  <ion-grid class="profile-detail">
    <ion-row>
      <ion-col>
        <div>1</div>
      </ion-col>
      <ion-col>
        <div>84K</div>
      </ion-col>
      <ion-col>
        <div>990K</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>Following</div>
      </ion-col>
      <ion-col>
        <div>Followers</div>
      </ion-col>
      <ion-col>
        <div>Likes</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-button size="small" color="danger">Follow</ion-button>
  </ion-grid>

</ion-content>
