.checkmark {
    color: white;
    background-color: #56a0fc;
    margin-bottom: -3px;
    padding: 2px;
    font-size: 10px;
    border-radius: 50%;
}

.profile-pic {
    margin: auto;
    margin-top: 25px;
}

.profile-title {
    margin-top: 8px;
}

.profile-detail {
    margin-top: 5px;
    text-align: center;
}